
<ul>
    <li>Team Name: @this.Context.Context.TeamName</li>
    <li>Team Site URL: @this.Context.Context.TeamSiteUrl</li>
    <li>Group ID: @this.Context.Context.GroupId</li>
    <li>Channel Name: @this.Context.Context.ChannelName</li>
    <li>Channel ID: @this.Context.Context.ChannelId</li>
    <li>Channel Type: @this.Context.Context.ChannelType</li>
</ul>
