@inherits BlazoradeComponentBase
@inject BlazoradeMsalService MsalService

<h2>Basic Info for @this.DisplayName</h2>

<ul>
    <li>User Principal Name: @this.Upn</li>
    <li>Last Name: @this.LastName</li>
    <li>First Name: @this.FirstName</li>
    <li>Job Title: @this.JobTitle</li>
    <li>Mobile Phone: @this.MobilePhone</li>
    <li>E-mail: @this.Email</li>
</ul>
