@inherits BlazoradeComponentBase

<ul>
    <li>Display Name: @this.Model.DisplayName</li>
    <li>Job Title: @this.Model.JobTitle</li>
    <li>User Principal Name: @this.Model.UserPrincipalName</li>
    <li>Mail: @this.Model.Mail</li>
    <li>Mobile Phone: @this.Model.MobilePhone</li>
</ul>